<nav class="navbar navbar-expand-lg Border-b-grey-half py-0">
    <div class="container-fluid d-flex">
        <!-- START login and Register -->
        <div class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span>log in</span>
            <span>register</span>
        </div>
        <!-- END login and Register -->
        <!-- START social part -->
        <div class="collapse navbar-collapse flex-grow-0" id="navbarTogglerDemo01">
            <ul class="navbar-nav mb-2 mb-lg-0" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link hover-text-color-main font-Bold-s12" href="#">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-text-color-main font-Bold-s12" href="#">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-text-color-main font-Bold-s12" href="#">
                        <i class="fa-brands fa-square-instagram"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-text-color-main font-Bold-s12" href="#">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-text-color-main font-Bold-s12" href="#">
                        <i class="fa-brands fa-square-pinterest"></i>
                    </a>
                </li>
                <li class="drop nav-item position-relative d-flex justify-content-center align-items-center">
                    <a class="nav-link hover-text-color-main font-Bold-s12" href="#">
                        <i class="fa-solid fa-arrow-up-right-from-square me-2"></i>
                        <span class="currency  text-uppercase">Buy Journal</span>

                    </a>
                    <!-- START === Dropdown menu -->
                    <span class="dropdown-clip  bg-main position-absolute z-index-3"></span>
                    <ul class="j-meu dropdown bg-main p-0 d-flex flex-column mt-2 position-absolute z-index-3 top-100">
                        <li class="px-3 py-2 hover-bg-primary">
                            <a class="text-white-color font-Regular-s13" href="">
                                <i class="fa-regular fa-circle-user me-2"></i>
                                <span>Unlimited</span>
                            </a>
                        </li>
                        <li class="px-3 py-2 hover-bg-primary">
                            <a class="text-white-color font-Regular-s13" href="">
                                <i class="fa-solid fa-pen me-2"></i>
                                <span>Custom</span>
                            </a>
                        </li>
                        <li class="px-3 py-2 hover-bg-primary">
                            <a class="text-white-color font-Regular-s13" href="">
                                <i class="fa-solid fa-gear me-2"></i>
                                <span>Menu Items</span>
                            </a>
                        </li>
                    </ul>
                    <!-- END === Dropdown menu -->
                </li>
            </ul>
        </div>
        <!-- END social part -->
        <!-- START contact part -->
        <ul class="navbar-nav mb-2 mb-lg-0" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
                <a class="nav-link hover-text-color-main font-Bold-s12 text-uppercase" href="#">
                    <i class="fa-solid fa-phone-volume me-1"></i>
                    <span>Call now: 1800.555.9090</span>
                </a>
            </li>
        </ul>
        <!-- END contact part -->
        <!-- START Coins part -->
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="drop nav-item position-relative d-flex justify-content-center align-items-center">
                <a class="nav-link hover-text-color-main text-grey font-Bold-s12 text-uppercase" href="">
                    $
                    <span class="currency">US Dollar</span>
                </a>
                <!-- START === Dropdown menu -->
                <span class="dropdown-clip  bg-main position-absolute z-index-3"></span>
                <ul
                    class="dropdown max-content bg-main p-0 d-flex flex-column mt-2 position-absolute z-index-3 top-100">
                    <li class="px-3 py-2 hover-bg-primary">
                        <a class="text-white-color font-Regular-s13" href="">
                            <span class="me-2">€</span>
                            <span>Euro</span>
                        </a>
                    </li>
                    <li class="px-3 py-2 hover-bg-primary">
                        <a class="text-white-color font-Regular-s12" href="">
                            <span class="me-2">£</span>
                            <span>Pound Sterling</span>
                        </a>
                    </li>
                    <li class="px-3 py-2 hover-bg-primary">
                        <a class="text-white-color font-Regular-s13" href="">
                            <span class="me-2">$</span>
                            <span>US Dollar</span>
                        </a>
                    </li>
                </ul>
                <!-- END === Dropdown menu -->
            </li>
        </ul>
        <!-- END Coins part -->
    </div>
</nav>