<div class="second_section p-4">
    <div class="container-fluid">
        <div class="row my-4">
            <!-- start col1 -->
            <div class="col-5">
                <!-- start item1 -->
                <a class="over-hidden position-relative d-flex" href="">
                    <!--start item1 name -->
                    <p
                        class="m-3 z-index-3 position-absolute text-uppercase bg-white text-dark-black font-ExtraBold-s18 px-3 py-2">
                        sofa</p>
                    <!--end item1 name -->
                    <!-- start item1 image -->
                    <i class="img-scale img-relaxing img-Background-Cover d-flex w-100 img-relaxing-s500"></i>
                    <!-- end item1 image -->
                    <!-- start link proudcts -->
                    <div class="details banner_caption z-index-3 middle-bottom position-absolute px-3 py-4 d-flex">
                        <a class="max-content text-uppercase font-Regular-s14 text-white-color py-2 align-items-center d-flex Border-B-white"
                            href="">
                            See products
                            <i class="fa-solid fa-arrow-right-long font-Regular-s16 ms-2"></i>
                        </a>
                    </div>
                    <!-- end link proudcts -->
                    <div class="layer position-absolute w-100 h-100"></div>
                </a>
                <!-- end item1 -->
            </div>
            <!-- end col1 -->
            <!-- start col2 -->
            <div class="col-2">
                <!-- start item2 -->
                <a class="over-hidden position-relative d-flex" href="">
                    <!--start item2 name -->
                    <p
                        class="m-3 banner_caption z-index-3 position-absolute text-uppercase bg-white text-dark-black font-ExtraBold-s18 px-3 py-2">
                        lamp</p>
                    <!--end item2 name -->
                    <!-- start item2 image -->
                    <i class="img-scale img-lamps1 img-Background-Cover d-flex w-100 img-relaxing-s500"></i>
                    <!-- end item2 image -->
                    <!-- start link proudcts -->
                    <div
                        class="max-content details banner_caption z-index-3 middle-bottom position-absolute px-3 py-4 d-flex">
                        <a class="text-uppercase font-Regular-s14 text-white-color py-2 align-items-center d-flex Border-B-white"
                            href="">
                            See products
                            <i class="fa-solid fa-arrow-right-long font-Regular-s16 ms-2"></i>
                        </a>
                    </div>
                    <!-- end link proudcts -->
                    <div class="layer position-absolute w-100 h-100"></div>
                </a>
                <!-- end item2 -->
            </div>
            <!-- end col2 -->
            <!-- start col3 -->
            <div class="col-5">
                <!-- start item3 -->
                <a class="over-hidden position-relative d-flex" href="">
                    <!--start item3 name -->
                    <p
                        class="m-3 banner_caption z-index-3 position-absolute text-uppercase bg-white text-dark-black font-ExtraBold-s18 px-3 py-2">
                        desk</p>
                    <!--end item3 name -->
                    <!-- start item3 image -->
                    <i class="img-scale img-desk1 img-Background-Cover d-flex w-100 img-desk-s250"></i>
                    <!-- end item3 image -->
                    <!-- start link proudcts -->
                    <div class="details banner_caption z-index-3 middle-bottom position-absolute px-3 py-4 d-flex">
                        <a class="max-content text-uppercase font-Regular-s14 text-white-color py-2 align-items-center d-flex Border-B-white"
                            href="">
                            See products
                            <i class="fa-solid fa-arrow-right-long font-Regular-s16 ms-2"></i>
                        </a>
                    </div>
                    <!-- end link proudcts -->
                    <div class="layer position-absolute w-100 h-100"></div>
                </a>
                <!-- end item3 -->
                <!-- start row for item4 and item5 -->
                <div class="row py-4">
                    <!-- start item4 -->
                    <div class="col-6">
                        <a class="over-hidden position-relative d-flex" href="">
                            <!--start item4 name -->
                            <p
                                class="m-3 banner_caption z-index-3 position-absolute text-uppercase bg-white text-dark-black font-ExtraBold-s18 px-3 py-2">
                                sale</p>
                            <!--end item4 name -->
                            <!-- start item4 image -->
                            <i class="img-scale img-sale img-Background-Cover d-flex w-100 img-desk-s250"></i>
                            <!-- end item4 image -->
                            <!-- start link proudcts -->
                            <div
                                class="details banner_caption z-index-3 middle-bottom position-absolute px-3 py-4 d-flex">
                                <a class="max-content text-uppercase font-Regular-s14 text-white-color py-2 align-items-center d-flex Border-B-white"
                                    href="">
                                    up to 30% off
                                    <i class="fa-solid fa-arrow-right-long font-Regular-s16 ms-2"></i>
                                </a>
                            </div>
                            <!-- end link proudcts -->
                            <div class="layer position-absolute w-100 h-100"></div>
                        </a>
                    </div>
                    <!-- end item4 -->
                    <!-- start item5 -->
                    <div class="col-6">
                        <a class="over-hidden position-relative d-flex" href="">
                            <!--start item5 name -->
                            <p
                                class="m-3 banner_caption z-index-3 position-absolute text-uppercase bg-white text-dark-black font-ExtraBold-s18 px-3 py-2">
                                Accessories</p>
                            <!--end item5 name -->
                            <!-- start item5 image -->
                            <i
                                class="bg-support1 img-scale img-Accessories1 img-Background-Cover d-flex w-100 img-desk-s250"></i>
                            <!-- end item5 image -->
                            <!-- start link proudcts -->
                            <div
                                class="details banner_caption z-index-3 middle-bottom position-absolute px-3 py-4 d-flex">
                                <a class=" max-content text-uppercase font-Regular-s14 text-white-color py-2 align-items-center d-flex Border-B-white"
                                    href="">
                                    Learn more
                                    <i class="fa-solid fa-arrow-right-long font-Regular-s16 ms-2"></i>
                                </a>
                            </div>
                            <!-- end link proudcts -->
                            <div class="layer position-absolute w-100 h-100"></div>
                        </a>
                    </div>
                    <!-- end item5 -->
                </div>
            </div>
            <!-- end col3 -->
        </div>
    </div>
</div>