<div class="bg-dark-main">
    <div class="container-fluid">
        <div class="row py-4">
            <div class="col-6 col-md-3">
                <h3 class="font-Bold-s20 text-light-white">Custom Links</h3>
                <ul class="module_body px-0">
                    <li class="py-2">
                        <a class="text-light-black-color" href="">About Us</a>
                    </li>
                    <li class="py-2">
                        <a class="text-light-black-color" href="">Delivery</a>
                    </li>
                    <li class="py-2">
                        <a class="text-light-black-color" href="">Privacy Policy</a>
                    </li>
                    <li class="py-2">
                        <a class="text-light-black-color" href="">Terms & Conditions</a>
                    </li>
                    <li class="py-2">
                        <a class="text-light-black-color" href="">Custom Links</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h3 class="font-Bold-s20 text-light-white">My Account</h3>
                <ul class="module_body px-0">
                    <li class="py-2">
                        <a class="text-light-black-color" href="">My Account</a>
                    </li>
                    <li class="py-2">
                        <a class="text-light-black-color" href="">Order History</a>
                    </li>
                    <li class="py-2">
                        <a class="text-light-black-color" href="">Affiliates</a>
                    </li>
                    <li class="py-2">
                        <a class="text-light-black-color" href="">Newsletter</a>
                    </li>
                    <li class="py-2">
                        <a class="text-light-black-color" href="">Gift Certificates</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h3 class="font-Bold-s20 text-light-white">Customer Service</h3>
                <ul class="module_body px-0">
                    <li class="py-2">
                        <a class="text-light-black-color" href="">Contact</a>
                    </li>
                    <li class="py-2">
                        <a class="text-light-black-color" href="">Returns</a>
                    </li>
                    <li class="py-2">
                        <a class="text-light-black-color" href="">Site Map</a>
                    </li>
                    <li class="py-2">
                        <a class="text-light-black-color" href="">Brands</a>
                    </li>
                    <li class="py-2">
                        <a class="text-light-black-color" href="">Unlimited Links</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h3 class="font-Bold-s20 text-light-white">Newsletter</h3>
                <div class="module_body px-0">
                    <p class="text-light-black-color">Don't miss any updates or promotions by signing up to our
                        newsletter.</p>
                    <div class="input-group position-relative">
                        <input type="email" placeholder="Your email"
                            class="form-control rounded-0 py-2 font-Regular-s14">
                        <button class="rounded-0 btn bg-main text-white-color font-Regular-s13 text-uppercase"><i
                                class="fa-regular fa-envelope font-Regular-s12 me-1"></i>
                            Send</button>
                    </div>
                    <div class="checkbox my-3">
                        <div class="font-Regular-s12 text-light-black-color d-flex gap-2 align-items-center" for="">
                            <input role="button" type="checkbox" name="agree" value="1">
                            <p class="m-0">I have read and agree to the</p>
                            <a class="font-Regular-s12 text-light-black-color" href="">
                                <p class="m-0 text-decoration-underline">Privacy Policy</p>
                            </a>
                        </div>


                    </div>
                    <div class="menu-icons mt-4">
                        <ul class="d-flex align-items-center justify-content-start gap-2 p-0">
                            <li class="cursor-click icon d-flex justify-content-center position-relative">
                                <p
                                    class="d-flex justify-content-center icon_name bg-main position-absolute m-0 text-white-color p-1 font-Bold-s12">
                                    facebook
                                    <span class="clip bg-main position-absolute"></span>
                                </p>
                                <a class="hover-bg-main rounded-pill bg-main d-flex align-items-center justify-content-center font-Bold-s22 text-white-color"
                                    href="">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="cursor-click icon d-flex justify-content-center position-relative">
                                <p
                                    class="d-flex justify-content-center icon_name bg-main position-absolute m-0 text-white-color p-1 font-Bold-s12">
                                    twitter
                                    <span class="clip bg-main position-absolute"></span>
                                </p>
                                <a class="hover-bg-main rounded-pill bg-main d-flex align-items-center justify-content-center font-Bold-s22 text-white-color"
                                    href="">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li class="cursor-click icon d-flex justify-content-center position-relative">
                                <p
                                    class="d-flex justify-content-center icon_name bg-main position-absolute m-0 text-white-color p-1 font-Bold-s12">
                                    instagarm
                                    <span class="clip bg-main position-absolute"></span>
                                </p>
                                <a class="hover-bg-main rounded-pill bg-main d-flex align-items-center justify-content-center font-Bold-s22 text-white-color"
                                    href="">
                                    <i class="fa-brands fa-square-instagram"></i>
                                </a>
                            </li>
                            <li class="cursor-click icon d-flex justify-content-center position-relative">
                                <p
                                    class="d-flex justify-content-center icon_name bg-main position-absolute m-0 text-white-color p-1 font-Bold-s12">
                                    skype
                                    <span class="clip bg-main position-absolute"></span>
                                </p>
                                <a class="hover-bg-main rounded-pill bg-main d-flex align-items-center justify-content-center font-Bold-s22 text-white-color"
                                    href="">
                                    <i class="fa-brands fa-skype"></i>
                                </a>
                            </li>
                            <li class="cursor-click icon d-flex justify-content-center position-relative">
                                <p
                                    class="d-flex justify-content-center icon_name bg-main position-absolute m-0 text-white-color p-1 font-Bold-s12">
                                    whatsapp
                                    <span class="clip bg-main position-absolute"></span>
                                </p>
                                <a class="hover-bg-main rounded-pill bg-main d-flex align-items-center justify-content-center font-Bold-s22 text-white-color"
                                    href="">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright Border-T-grey-O50">
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-6">
                    <p class="p-0 mt-1  text-light-black-color font-Regular-s12">Copyright © 2019, Your Store, All
                        Rights
                        Reserved</p>
                </div>
                <div class="col-6">
                    <ul class="menu-icons d-flex align-items-center justify-content-end gap-2">
                        <li class="cursor-click icon d-flex justify-content-center position-relative">
                            <p
                                class="d-flex justify-content-center icon_name bg-main position-absolute m-0 text-white-color p-1 font-Bold-s12">
                                visa
                                <span class="clip bg-main position-absolute"></span>
                            </p>
                            <i
                                class="hover-text-color-main d-flex align-items-center justify-content-center fa-brands fa-cc-visa text-light-black-color font-Bold-s32"></i>
                        </li>
                        <li class="cursor-click icon d-flex justify-content-center position-relative">
                            <p
                                class="d-flex justify-content-center icon_name bg-main position-absolute m-0 text-white-color p-1 font-Bold-s12">
                                Mastercart
                                <span class="clip bg-main position-absolute"></span>
                            </p>
                            <i
                                class="hover-text-color-main d-flex align-items-center justify-content-center fa-brands fa-cc-mastercard text-light-black-color font-Bold-s32"></i>
                        </li>
                        <li class="cursor-click icon d-flex justify-content-center position-relative">
                            <p
                                class="d-flex justify-content-center icon_name bg-main position-absolute m-0 text-white-color p-1 font-Bold-s12">
                                Paypal
                                <span class="clip bg-main position-absolute"></span>
                            </p>
                            <i
                                class="hover-text-color-main d-flex align-items-center justify-content-center fa-brands fa-cc-paypal text-light-black-color font-Bold-s32"></i>
                        </li>
                        <li class="cursor-click icon d-flex justify-content-center position-relative">
                            <p
                                class="d-flex justify-content-center icon_name bg-main position-absolute m-0 text-white-color p-1 font-Bold-s12">
                                Amex
                                <span class="clip bg-main position-absolute"></span>
                            </p>
                            <i
                                class="hover-text-color-main d-flex align-items-center justify-content-center fa-brands fa-cc-amex text-light-black-color font-Bold-s32"></i>
                        </li>
                        <li class="cursor-click icon d-flex justify-content-center position-relative">
                            <p
                                class="d-flex justify-content-center icon_name bg-main position-absolute m-0 text-white-color p-1 font-Bold-s12">
                                Discover
                                <span class="clip bg-main position-absolute"></span>
                            </p>
                            <i
                                class="hover-text-color-main d-flex align-items-center justify-content-center fa-brands fa-cc-discover text-light-black-color font-Bold-s32"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>