.heart-icon {
    background-image: url(../assets/icons/heart-regular.svg);
}

.shopping-icon {
    background-image: url(../assets/icons/bag-shopping-solid.svg);
}

.compare-icon {
    background-image: url(../assets/icons/right-left-solid.svg);
}

.square-facebook {
    background-image: url(../assets/icons/square-facebook.svg);
}

.square-instagram {
    background-image: url(../assets/icons/square-instagram.svg);
}

.square-pinterest {
    background-image: url(../assets/icons/square-pinterest.svg);
}

.twitter-icon {
    background-image: url(../assets/icons/twitter.svg);
}