.img-header {
    background-image: url(../assets/images/navbarcover.png)
}

.img-glasses {
    background-image: url(../assets/images/glassesjpg.jpg);
}

.img-headphone {
    background-image: url(../assets/images/headphone1.jpg);
}

.img-watch1 {
    background-image: url(../assets/images/watch1.jpg);
}

.img-watch2 {
    background-image: url(../assets/images/watch3.jpg);
}

.img-one-firstsection {
    background-image: url(../assets/images/interior.jpg);
}

.img-two-firstsection {
    background-image: url(../assets/images/lighting.jpg);
}

.img-three-firstsection {
    background-image: url(../assets/images/relaxing.jpeg);
}

.img-relaxing {
    background-image: url(../assets/images/relaxing.jpeg);
}

.img-lamps1 {
    background-image: url(../assets/images/lamp1.jpg);
}


.img-desk1 {
    background-image: url(../assets/images/desk1.jpg);
}

.img-sale {
    background-image: url(../assets/images/sale1.png);
}

.img-Accessories1 {
    background-image: url(../assets/images/Accessories1.png);
}


.img-armchair {
    background-image: url(../assets/images/Armchair.jpg);
}

.img-decor {
    background-image: url(../assets/images/Decor.jpg);
}

.img-lamps2 {
    background-image: url(../assets/images/LAMPS.jpeg);
}

.img-sofa2 {
    background-image: url(../assets/images/SOFA2.jpg);
}

.img-tables {
    background-image: url(../assets/images/Tables.jpg);
}

.img-yellow-sofa {
    background-image: url(../assets/images/yellow_armchair1.png);
}


.img-modernChair {
    background-image: url(../assets/images/modernChair.png);
}

.img-lazy_armchair {
    background-image: url(../assets/images/lazy_armchair.png);
}

.img-gray_armchair {
    background-image: url(../assets/images/gray_armchair.png);
}

.img-lazy_armchair2 {
    background-image: url(../assets/images/lazy_armchair2.png);
}


.img-comfortable_arm {
    background-image: url(../assets/images/comfortable_arm.png);
}

.img-classic_chair {
    background-image: url(../assets/images/classic_chair.png);
}


.img-ashtray-book {
    background-image: url(../assets/images/ashtray-book.jpg);
}


.img-gallary1 {
    background: url(../assets/images/gallary1.jpg);
}


.img-gallary2 {
    background: url(../assets/images/gallary2.jpg);
}

.img-gallary3 {
    background: url(../assets/images/gallary3.jpg);
}

.img-gallary4 {
    background: url(../assets/images/gallary4.jpg);
}

.img-gallary5 {
    background: url(../assets/images/gallary5.jpg);
}

.img-gallary6 {
    background: url(../assets/images/gallary6.jpeg);
}

.img-gallary7 {
    background: url(../assets/images/gallary7.jpg);
}

.img-gallary8 {
    background: url(../assets/images/gallary8.jpg);
}

.img-gallary9 {
    background: url(../assets/images/gallary9.jpg);
}

.img-gallary10 {
    background: url(../assets/images/gallary10.jpg);
}

.img-gallary11 {
    background: url(../assets/images/gallary11.jpg);
}

.img-gallary12 {
    background: url(../assets/images/gallary12.jpg);
}


.img-blog1 {
    background: url(../assets/images/blog1.jpg);
}

.img-blog2 {
    background: url(../assets/images/blog2.jpg);
}

.img-blog3 {
    background: url(../assets/images/blog3.jpg);
}

.img-blog4 {
    background: url(../assets/images/blog4.jpg);
}

.img-blog5 {
    background: url(../assets/images/blog5.jpg);
}


.img-Background-Cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.img-Background-Contain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-Background-fixed {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover
}


// START Sizing
.img-s120 {
    height: 120px;
}

.img-s200 {
    height: 200px;
}

.img-s235 {
    height: 235px;
}

.img-s250 {
    height: 250px;
}

.img-s300 {
    height: 300px;
}

.img-s500 {
    height: 500px;
}




.img-desk-s250 {
    height: 238px;
}

.img-relaxing-s500 {
    height: 500px;
}







.img-topcategories-s200 {
    height: 200px;
}